<div class="container-fluid">
  <div class="row">
    <!-- Admin profile section -->
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://th.bing.com/th/id/OIP.sVVB9SERkuOQQNu3XP2uFAHaJi?pid=ImgDet&rs=1"
          class="card-img-top"
          alt="Admin Image"
        />
        <div class="card-body">
          <h5 class="card-title">Admin Name</h5>
          <!-- Add more admin details here -->
        </div>
      </div>
    </div>

    <!-- Libraries section -->
    <div class="col-md-9">
      <!-- Restaurant library -->
      <div class="row mb-3">
        <div class="col-12">
          <h2>Restaurant Library</h2>
          <!-- Add your restaurant library here -->
        </div>
      </div>

      <!-- User library -->
      <div class="row">
        <div class="col-12">
          <h2>User Library</h2>
          <!-- Add your user library here -->
        </div>
      </div>
    </div>
  </div>
</div>
