<!-- profile.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- display the profile picture and name -->
      <div class="card mb-3">
        <img
          src="https://th.bing.com/th/id/OIP.sVVB9SERkuOQQNu3XP2uFAHaJi?pid=ImgDet&rs=1"
          class="card-img-top"
          alt="Profile picture"
        />
        <div class="card-body d-flex justify-content-between">
          <h5 class="card-title">
            {{ profile.firstName + " " + profile.lastName }}
          </h5>
          <!-- <a href="#" class="btn btn-primary">Edit Profile</a> -->
        </div>
      </div>
      <!-- display the edit profile button -->
      <div class="card mb-3"></div>
      <!-- display the profile details -->
      <div class="card mb-3">
        <div class="card-header">Profile Details</div>

        <p class="card-text"><strong>Email:</strong> {{ profile.email }}</p>
        <p class="card-text">
          <strong>Phone:</strong> {{ profile.phoneNumber }}
        </p>
        <p class="card-text"><strong>Address:</strong> {{ profile.address }}</p>
      </div>
    </div>
    <div class="col-md-8">
      <app-user-order [orders]="orders"></app-user-order>
    </div>
  </div>
</div>
