<div class="card mb-3" style="max-width: 100%">
  <div class="row align-items-center g-0">
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title d-flex">
          {{ user.firstName }} {{ user.lastName }}
          <p class="card-text id-text">
            <small class="text-muted">{{ user.id }}</small>
          </p>
        </h5>
        <p class="card-text">
          <small class="text-muted">Username: {{ user.username }}</small>
        </p>
        <p class="card-text">
          <small class="text-muted">Email: {{ user.email }}</small>
        </p>
        <p class="card-text">
          <small class="text-muted">Phone Number: {{ user.phoneNumber }}</small>
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <button (click)="deleteUser()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
